{% extends "base.html" %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

function set_hostname() {
		hostname = $("#hostnametxt").val();
		console.log(hostname)
		$.ajax({
		url: 'http://'+'{{session['robot']['ip']}}'.trim() + '/api/v1.0/conf/hostname',
		data: {'hostname': hostname},
		type: 'PUT',
		dataType: 'json',
		success: function(result) {
			console.log(result);
			alert("Ok... Reboot your robot!");
		}
	});
}

</script>
{% endblock %}


{% block head %}
{{ super() }}

<style>
  body {
    background-color: white;
  }

  div.mytitle {
    color: white;
    text-align: center;
    height: calc(100vh - 110px);
    width: 100%;
    display: table;
  }

  div.mytitle > div {
    vertical-align: middle;
    display: table-cell;
  }

  div.mytitle > div  h1 {
    font-size: 50px;
    margin: 20px auto
  }

  div.mytitle > div  p {
    font-size: 20px;
  }
</style>
{% endblock %}


{% block page_content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Pannello di Configurazione</h1>

      <table class="table">
        <tbody>
          <tr>
            <td>Nome</td>
            <td>{{robot["name"]}}</td>
          </tr>
          <tr>
            <td>Modello</td>
            <td>{{robot["model"]}}</td>
          </tr>
          <tr>
            <td>OS</td>
            <td>{{robot["os"]}}</td>
          </tr>
          <tr>
            <td>Azioni</td>
            <td>
              <button type="button" class="btn btn-xs btn-danger" aria-label="Left Align" onclick="robot_cmd('poweroff')">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Spegni
                </button>
                <button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" onclick="robot_cmd('reboot')">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                  Riavvia
                </button>
              </td>
           </tr>

           <tr>
             <td>WiFi</td>
             <td>
                 <a href="/wifi/schemes" class="btn btn-xs btn-primary" aria-label="Left Align">
                   <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                   Configurazione WiFi
                 </a>
               </td>
            </tr>

            <tr>
              <td>Altro</td>
              <td>
                <a href="/" onclick="javascript:event.target.port=9001" class="btn btn-xs btn-primary" aria-label="Left Align" onclick="robot_cmd('reboot')">
                  <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                  Impostazioni Avanzate
                </a>
               </td>
             </tr>

        </tbody>
      </table>


      <div class="input-group">
        <input type="text" class="form-control" placeholder="Nuovo Nome" id="hostnametxt">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="set_hostname()">Vai!</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>


{% endblock %}
