{% extends "bootstrap/base.html" %} {% block title %} DotBot{% endblock %} {% block scripts %} {{ super() }}

<script type=text/javascript src=" {{ url_for('static', filename='js/vendor/moment-with-locales.min.js') }}">
</script>

<script type="text/javascript">
	var master_url = "{{ g.MASTER_URL }}";
	var dotbot_name = "{{ g.DOTBOT_NAME }}"
	console.log("master url: ", master_url);
	console.log("dotbot name: ", dotbot_name);
</script>


<script type="text/javascript">
	moment.locale("en");

	function flask_moment_render(elem) {
		$(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
		$(elem).removeClass('flask-moment').show();
	}

	function flask_moment_render_all() {
		$('.flask-moment').each(function() {
			flask_moment_render(this);
			if ($(this).data('refresh')) {
				(function(elem, interval) {
					setInterval(function() {
						flask_moment_render(elem)
					}, interval);
				})(this, $(this).data('refresh'));
			}
		})
	}
	$(document).ready(function() {
		flask_moment_render_all();
	});
</script>

{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img style="max-height:20px;" src="/static/img/logo/dotbot-full-50px-white.png">
			</a>
		</div>


	</div>
</div>
</div>
{% endblock %}

{% block content %}

<div class="container" id="warning">
	{% for msg in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ msg }}
	</div>
	{% endfor %}
</div>

<div class="container_main">

	<!-- Modal -->
	<div class="modal fade" id="shellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="shellLabel"> Shell </h4>
	      </div>
	        <div class="modal-body" id="my_console" style="height:600px">
	        </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>

	{% block page_content %}
	{% endblock %}

</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding:15px 0">
				<p class="text-muted">Designed by HotBlack Robotics.</p>
			</div>
		</div>
	</div>
</footer>

{% endblock %}
