{% extends "bootstrap/base.html" %}
{% block title %} O|Robot {% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
function robot_cmd(cmd) {
	$.ajax({
		url: '/api/v1.0/manage/robot',
		data: {'command': cmd},
		type: 'POST',
		dataType: 'json',
		success: function(result) {
			console.log(result);
			alert("Ok...");
		}
	});
}

</script>
{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				O|Robot 101
			</a>
		</div>
		<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-off" style="color:red"></span>  <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a type="button" onclick="robot_cmd('poweroff')">Spegni</a></li>
					<li><a type="button" onclick="robot_cmd('reboot')">Riavvia</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</div>
</div>
{% endblock %}

{% block content %}

<div class="container" id="warning">
	{% for msg in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ msg }}
	</div>
	{% endfor %}
</div>

<div class="container_main">

	{% block page_content %}
	{% endblock %}

</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding:15px 0">
				<p class="text-muted">Designed by HotBlack Robotics.</p>
			</div>
		</div>
	</div>
</footer>

{% endblock %}
